.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-stratagems-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-message {
  text-transform: none;
  font-size: 18px;
}

.title {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 18px;
  width: fit-content;
}

.title > img {
  width: 24px;
  height: 24px;
}

.stratagem-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 12px;
  gap: 20px;
  margin-bottom: 24px;
}

.bg-light {
  background-color: var(--transparent-light);
  backdrop-filter: blur(6px);
}

.bg-dark {
  background-color: var(--transparent-dark);
  backdrop-filter: blur(6px);
}